@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #0b0b0b;
}

a {
    color: inherit;
    text-decoration: none;
}